.button {
  display: inline-block;
  /*float: right;*/
  height: 120;
  width: 180;
  margin-top: -85px;
  position: absolute;
  right: 100px;
  vertical-align: top;
}


h1, h2, h3, h4, h5, p {
  margin-left: 20px;
}

.heading {
  font-size: 4em;
  padding-left: 50px;
  /*text-align: center;*/
}

.jumbotron {
  background-color: #102f60;
  color: white;
}

p {
  width: 80%;
  font-size: 24px;
  padding-left: 50px;
}

li {
  padding-left: 35px;
  font-size: 24px;

}

h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
}

ul {
  list-style: none;
  padding-bottom: 30px;
}

.creators {
  padding-bottom: 50px;
  padding-top: 30px;
  text-align: center;
}

img {
  display: block;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
